@font-face {
  font-family: ProximaNova-Regular;
  src: url('../fonts/SharpSansNo1-Bold.woff');
  src: url('../fonts/SharpSansNo1-Bold.woff2');
}

.Contacto {
  display: flex;
  flex-flow: row wrap;
    justify-content: space-around;
  background-color: rgb(207, 207, 207);
  color: #424242;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  width: 100%;
  height: 100%;
}

.Contacto-titulo {
  font-family: SharpSansNo1-Bold;
  font-size: 16px;
  color: #405457;
  letter-spacing: 0;
  line-height: 28px;
  width: 50%;
}

.Contacto-iconos {
  flex: flex-grow;
}

/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media (max-width: 767px) {
  .Contacto {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .Contacto-titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .Contacto-iconos {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
@media (min-width: 768px) and (max-width: 991px) {
  .Contacto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .Contacto-titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .Contacto-iconos {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas grandes (a partir de 992px de ancho) */
@media (min-width: 992px) {
  .Contacto {
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
  }

  .Contacto-titulo {
    width: 50%;
    text-align: left;
    margin-bottom: 0;
  }

  .Contacto-iconos {
    margin-right: 10px;
    margin-bottom: 0;
  }
}