/* Estilos generales del formulario */
@font-face {
  font-family: "SharpSans";
  src: url("../fonts/SharpSansNo1Medium-Regular.woff");
}

.Formulario {
  display: flex;
  flex-flow: column wrap;
  background: #F8F9F9;
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

/* Estilos para los campos de entrada */
.Input {
  background: #F8F9F9;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* Estilos para los títulos de los campos */
.Input h2 {
  font-family: "SharpSans";
  font-size: 20px;
  color: #02363D;
  text-align: center;
  line-height: 29px;
}

.Input h5 {
  font-family: "SharpSans";
  font-size: 16px;
  color: #02363D;
  text-align: flex-start;
  line-height: 24px;
}

/* Estilos para el campo de país */
.pais {
  width: 90%;
  height: 90%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Estilos para el botón */
.Button {
  font-family: "SharpSans";
  font-size: 19px;
  color: #FFFFFF;
  background: #02363D;
  border: 1px solid #02363D;
  width: 90%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media (max-width: 767px) {
  .Formulario {
    padding-left: 10px;
  }

  .Input h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .campo input {
    font-size: 20px;
    height: 40px;
  }

  .Button {
    font-size: 16px;
    height: 40px;
  }
}

/* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
@media (min-width: 768px) and (max-width: 991px) {
  .Formulario {
    padding-left: 20px;
  }

  .Input h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .campo input {
    font-size: 24px;
    height: 50px;
  }

  .Button {
    font-size: 18px;
    height: 50px;
  }
}

/* Estilos para pantallas grandes (a partir de 992px de ancho) */
@media (min-width: 992px) {
  .Formulario {
    padding-left: 50px;
  }

  .Input h2 {
    font-size: 20px;
    line-height: 29px;
  }

  .campo input {
    font-size: 30px;
    height: 60px;
  }

  .Button {
    font-size: 19px;
    height: 60px;
  }
}
