/* Estilos generales del encabezado */
@font-face {
  font-family: "SharpSansNo1-Bold";
  src: url("../fonts/SharpSansNo1-Bold.woff2") format("woff2"),
       url("../fonts/SharpSansNo1-Bold.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova-alt-bold";
  src: url("../fonts/proxima_nova_alt_bold-webfont.woff2") format("woff2"),
       url("../fonts/proxima_nova_alt_bold-webfont.woff") format("woff");
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Header.svg);
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para el título principal */
.Header h1 {
  font-family: "SharpSansNo1-Bold";
  color: #02363D;
  text-align: center;
  line-height: 52px;
  margin: 0;
}

.Header h2 {
  font-family: "ProximaNova-alt-bold";
  color: #02363D;
  text-align: center;
  line-height: 30px;
  margin: 0;
}

/* Estilos para el subtítulo */
.Header h3 {
  font-family: "SharpSansNo1-Bold";
  color: #00373E;
  line-height: 15px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}

.Header h4 {
  font-family: "SharpSansNo1-Bold";
  font-size: 13px;
  color: #FFFFFF;
  background-color: chocolate;
  letter-spacing: 0.93px;
  text-align: center;
  margin-top: 50px;
}

/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media (max-width: 767px) {
  .Header h1 {
    font-size: 30px;
    padding: 20px;
  }
  
  .Header h2 {
    font-size: 20px;
    line-height: 40px;
  }

  .Header h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

/* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
@media (min-width: 768px) and (max-width: 991px) {
  .Header h1 {
    font-size: 40px;
    padding: 20px;
  }
  
  .Header h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .Header h3 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

/* Estilos para pantallas grandes (a partir de 992px de ancho) */
@media (min-width: 992px) {
  .Header h1 {
    font-size: 50px;
    padding: 40px;
  }
  
  .Header h2 {
    font-size: 40px;
    line-height: 60px;
  }

  .Header h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}


