.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/Header.svg");
    background-size: auto 100%;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
  }
  
  .Header h2 {
    font-family: SharpSansNo1-BoldItalic;
    font-size: 40px;
    color: #021800;
    text-align: center;
    line-height: 52px;
  }
  
  .Header h3 {
    font-family: SharpSansNo1-Bold;
    font-size: 40px;
    color: #02363D;
    text-align: center;
    line-height: 52px;
  }
  
  .Header h5 {
    position: 240px 133px;
    size: 960px 156px;
    opacity: 100%;
    font-family: SharpSansNo1-Bold;
    font-size: 13px;
    color: #FFFFFF;
    background-color: chocolate;
    letter-spacing: 0.93px;
    text-align: center;
    line-height: 15px;
  }