/* Estilos generales de la sección de información */
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/proximanova-regular-webfont.woff");
}

.Informacion {
  margin-left: 20px;
  font-size: 24px;
  color: #405457;
  letter-spacing: 0;
  line-height: 28px;
  width: 50%;
}

/* Estilos para el logo */
.Logo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 20px;
}

.Logo img {
  max-width: 137px;
  height: 24px;
}

/* Estilos para el título de la sección de información */
.Informacion h2 {
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para el texto de especialistas */
.especialistas {
  @font-face {
    font-family: "SharpSans";
    src: url("../fonts/SharpSansNo1Medium-Regular.woff");
  }
  font-size: 16px;
  color: #405457;
  width: fit-content;
}

/* Estilos para pantallas pequeñas (hasta 767px de ancho) */
@media (max-width: 767px) {
  .Informacion {
    margin-left: 40px;
    width: 100%;
  }

  .Logo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
  }

  .Logo img {
    max-width: 70px;
    height: 10px;
  }

  .Informacion h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .especialistas {
    font-size: 14px;
  }
}

/* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
@media (min-width: 768px) and (max-width: 991px) {
  .Informacion {
    margin-left: 20px;
    width: 70%;
  }

  .Logos {
    width: 50px;
    height: 50px;
  }

  .Informacion h2 {
    font-size: 30px;
    line-height: 45px;
  }

  .especialistas {
    font-size: 16px;
  }
}

/* Estilos para pantallas grandes (a partir de 992px de ancho) */
@media (min-width: 992px) {
  .Informacion {
    margin-left: 20px;
    width: 50%;
  }

  .Informacion h2 {
    font-size: 36px;
    line-height: 54px;
  }

  .especialistas {
    font-size: 16px;
  }
}
