/* Estilos generales de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Estilos para el encabezado */


.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Estilos para el formulario */


/* Estilos para la sección de información */


/* Estilos para la sección de contacto */
.Contacto {
  margin-bottom: 20px;
}

.Contacto h2 {
  margin-bottom: 10px;
  text-align: center;
}

.Contacto input,
.Contacto textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.Contacto textarea {
  resize: vertical;
}
