/* Estilos generales de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el encabezado */
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.Informacion {
  flex: 2;
}

.Formulario {
  flex: 1;
}



@media (max-width: 767px) {
  /* Estilos para pantallas pequeñas (hasta 767px de ancho) */
  .content {
    flex-direction: column;
  }
  .Informacion {
    flex: 1;
  }
  .Formulario {
    flex: 1;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para pantallas medianas (entre 768px y 991px de ancho) */
  .content {
    flex-direction: column;
  }
  .Informacion {
    flex: 1;
  }
  .Formulario {
    flex: 1;
  }

}

@media (min-width: 992px) {
  /* Estilos para pantallas grandes (a partir de 992px de ancho) */
  .content {
    flex-direction: row;
  }
  .Informacion {
    flex: 2;
  }
  .Formulario {
    flex: 1;
  }
  
}
